<h1>Payment to be made</h1>
{{text}}
<form method="POST" action="/payments">
    <label for="cardDetails">Please Enter your Card Number</label>
    <input name="cardDetails" id="cardDetails"/>
    <label for="CVV">CVV</label>
    <input name="CVV" id="CVV"/>
    <label for="expiry">Please Enter your Card's expiry date</label>
    <input name="expiry" id="expiry"/>
    <label for="firstName">Please Enter your First Name</label>
    <input name="firstName" id="firstName"/>
    <label for="lastName">Please Enter your last Name</label>
    <input name="lastName" id="lastName"/>
    <input type="submit" value="Submit">
</form>